@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eko Street Games</h1>
    <p>Feel the street life simulation</p>
    <img src="~/img/displayPix.png" alt="Store Logo" width="400" height="400" />
</div>
